/* MyOrders.css */

.my-orders-container {
    margin: 20px;
    display: flex;
    transition: margin 0.5s ease;
}

.order-list-container {
    width: 100%;
    transition: width 0.5s ease;
}

.cart-container {
    width: 0;
    overflow: hidden;
    transition: width 0.5s ease;
}

.order-list-container.cart-open {
    width: 18%;
}

.cart-container.open {
    width: 82%;
    transition-delay: 0.3s;
}

.order-list {
    list-style-type: none;
    padding: 0;
}

.order-item {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
}

.order-item:hover {
    transform: translateY(-5px);
}

.order-item.selected {
    background-color: #f0f0f0;
    border-left: 5px solid #FFD700;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.order-details {
    font-size: 14px;
    color: #333;
}

.order-details h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #222;
}

.order-details p {
    margin: 0;
}

.my-orders-container h2 {
    color: #222;
    text-align: center;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: bold;
}

.hr-title {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    margin: 0 auto 5px;
}

.empty-myOrders {
    text-align: center;
    padding: 50px 20px;
}

.empty-myOrders h2 {
    font-size: 24px;
    color: #454545;
    margin-bottom: 10px;
}

.empty-myOrders p {
    font-size: 18px;
    color: #757575;
}

.transitioning .order-list-container {
    margin-right: 0;
}

.edit-icon {
    position: absolute;
    top: 170px;
    right: 200px;
    color: #007bff;
    cursor: pointer;
    z-index: 999;
    font-size: 30px;
    transition: transform 0.3s ease-in-out;
}

.edit-icon:hover {
    transform: scale(1.2);
}

/* Responsive styles for smartphones */
@media(max-width: 768px) {
    .my-orders-container {
        flex-direction: column;
    }
    .order-list-container {
        width: 100%;
    }

    .cart-container {
        width: 0;
        overflow: hidden;        
    }

    .order-list-container.cart-open {
        width: 100%;
    }

    .cart-container.open {
        width: 100%;
    }
    .edit-icon {
        top: calc(70% + 10px); 
        right: 5%;
    }
}
